{% extends 'base.html' %}

{% block title %}
Про нас
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center shadow border rounded p-4 bg-white">
        <div class="col-md-8 text-center paragraph">
            <h1>Про нас</h1>
            <p class="lead">
                Ласкаво просимо до <strong>E-Shop</strong> – вашого надійного онлайн-магазину, де ви знайдете все
                необхідне для сучасного життя! Ми пишаємося тим, що пропонуємо нашим клієнтам якісні товари за
                доступними цінами.
            </p>
            <hr class="my-4">
            <p></p>
            <h2>Наша місія</h2>
            <p>
                Наша головна мета – зробити процес купівлі зручним, швидким та приємним. Ми прагнемо створити унікальний
                досвід для кожного клієнта, забезпечуючи широкий вибір продукції та високий рівень обслуговування.
            </p>
            <h2>Чому обирають нас?</h2>
            <ul class="text-start">
                <li><strong>Висока якість:</strong> Ми пропонуємо лише перевірені товари від надійних постачальників.
                </li>
                <li><strong>Доступні ціни:</strong> Наші ціни завжди конкурентні та прозорі.</li>
                <li><strong>Швидка доставка:</strong> Ми гарантуємо оперативну доставку по всій Україні.</li>
                <li><strong>Підтримка клієнтів:</strong> Наша команда завжди готова допомогти з будь-якими питаннями.
                </li>
            </ul>
            <p></p>
            <h2>Наші цінності</h2>
            <p>
                Ми цінуємо довіру наших клієнтів та будуємо відносини на основі чесності, відповідальності та інновацій.
                Наш пріоритет – забезпечити найкращий сервіс, щоб ви завжди залишалися задоволеними покупками.
            </p>
        </div>
    </div>
</div>
{% endblock %}