{% extends 'base.html' %}

{% block title %}
Доставка та оплата
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center shadow border rounded p-4 bg-white">
        <div class="col-md-8 text-center paragraph">
            <h1>Доставка та оплата</h1>
            <p class="lead">
                Ми прагнемо забезпечити швидку та надійну доставку товарів по всій Україні. Ось основна інформація про
                наші умови доставки та способи оплати.
            </p>
            <hr class="my-4">
            <p></p>
            <h2>Доставка</h2>
            <ul class="text-start">
                <li><strong>Нова Пошта:</strong> Відправка товарів здійснюється щодня. Термін доставки – від 1 до 3
                    днів.</li>
                <li><strong>Укрпошта:</strong> Доставка в будь-який куточок України за 3-5 днів.</li>
                <li><strong>Самовивіз:</strong> Ви можете забрати замовлення в нашому офісі в м. Київ.</li>
            </ul>
            <p></p>
            <h2>Оплата</h2>
            <ul class="text-start">
                <li><strong>Готівкою при отриманні:</strong> Оплата готівкою у відділенні пошти або при самовивозі.</li>
                <li><strong>Онлайн-оплата:</strong> Безпечна оплата банківською карткою через систему LiqPay або PayPal.
                </li>
                <li><strong>Безготівковий розрахунок:</strong> Для корпоративних клієнтів та оптових покупців.</li>
            </ul>
            <p></p>
        </div>
    </div>
</div>
{% endblock %}