{% extends 'base.html' %}

{% block title %}
Гарантії
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center shadow border rounded p-4 bg-white">
        <div class="col-md-8 text-center paragraph">
            <h1>Гарантії</h1>
            <p class="lead">
                Ми гарантуємо якість нашої продукції та надаємо гарантійне обслуговування відповідно до законодавства
                України.
            </p>
            <hr class="my-4">
            <p></p>

            <h2>Гарантійні зобов’язання</h2>
            <p>
                Усі товари, представлені в нашому інтернет-магазині **E-Shop**, мають гарантію від виробника. Ми
                забезпечуємо заміну товару або його ремонт у разі виявлення заводського браку.
            </p>

            <h2>Термін гарантії</h2>
            <p>
                Гарантійний термін на продукцію залежить від категорії товару та виробника. Зазвичай він становить від 6
                до 24 місяців.
            </p>

            <h2>Умови гарантії</h2>
            <p>
                Гарантія діє за умови правильного використання товару, відповідно до інструкцій виробника. Будь-які
                пошкодження, спричинені неналежною експлуатацією, не підпадають під гарантійне обслуговування.
            </p>

            <h2>Повернення та обмін</h2>
            <p>
                У разі виявлення браку товару ви можете звернутися до нашої служби підтримки за телефоном: <strong><a
                        href="tel:+380671234567" class="blue-link">+38 (067) 123 45 67</a></strong> або написати на
                електронну пошту: <strong><a href="malito:support@eshop.com.ua"
                        class="blue-link">support@eshop.com.ua</a></strong>.
            </p>
        </div>
    </div>
</div>
{% endblock %}