{% extends 'base.html' %}

{% block title %}
Публічна оферта
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center shadow border rounded p-4 bg-white">
        <div class="col-md-8 text-center paragraph">
            <h1>Публічна оферта</h1>
            <p class="lead">
                Цей документ є публічною офертою щодо укладення договору купівлі-продажу товарів через інтернет-магазин
                **E-Shop**. Ознайомтеся з умовами перед оформленням замовлення.
            </p>
            <hr class="my-4">
            <p></p>
            <h2>Основні положення</h2>
            <p>
                Інтернет-магазин **E-Shop** пропонує товари для замовлення в онлайн-режимі з доставкою по всій Україні.
            </p>

            <h2>Умови замовлення</h2>
            <p>
                Замовлення здійснюється через сайт. Після оформлення замовлення наш менеджер зв'яжеться з вами для
                підтвердження деталей.
            </p>

            <h2>Оплата і доставка</h2>
            <p>
                Оплата товарів можлива готівкою при отриманні або за допомогою онлайн-платежів. Доставка здійснюється
                через "Нову Пошту" або "Укрпошту".
            </p>

            <h2>Повернення товарів</h2>
            <p>
                Ви можете повернути товар протягом 14 днів з моменту отримання за умови, що він не був у користуванні та
                збережений товарний вигляд.
            </p>

            <h2>Контакти</h2>
            <p>
                Якщо у вас виникли питання, звертайтеся за телефоном: <strong><a href="tel:+380671234567"
                        class="blue-link">+38 (067) 123 45 67</a></strong> або пишіть на
                електронну пошту: <strong><a href="malito:support@eshop.com.ua"
                        class="blue-link">support@eshop.com.ua</a></strong>.
            </p>
        </div>
    </div>
</div>
{% endblock %}