{% extends 'base.html' %}

{% block title %}
Політика конфіденційності
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center shadow border rounded p-4 bg-white">
        <div class="col-md-8 text-center paragraph">
            <h1>Політика конфіденційності</h1>
            <p class="lead">
                Ми дбаємо про захист ваших персональних даних і прагнемо забезпечити вашу конфіденційність під час
                використання нашого інтернет-магазину **E-Shop**.
            </p>
            <hr class="my-4">
            <p></p>
            <h2>Збір та використання інформації</h2>
            <p>
                Під час оформлення замовлення або реєстрації на нашому сайті ми збираємо ваші персональні дані, такі як
                ім'я, номер телефону, електронна адреса та адреса доставки. Ця інформація використовується виключно для
                обробки замовлень та покращення якості наших послуг.
            </p>

            <h2>Захист даних</h2>
            <p>
                Ми вживаємо всіх необхідних заходів для захисту ваших даних від несанкціонованого доступу, зміни або
                видалення. Ми використовуємо сучасні технології шифрування для забезпечення безпеки даних.
            </p>

            <h2>Передача даних третім особам</h2>
            <p>
                Ми не передаємо ваші персональні дані третім особам без вашої згоди, за винятком випадків, передбачених
                законодавством.
            </p>

            <h2>Ваші права</h2>
            <p>
                Ви маєте право отримувати інформацію про обробку ваших даних, виправляти, видаляти або обмежувати їх
                обробку. Для цього звертайтеся до нас за телефоном: <strong><a href="tel:+380671234567"
                        class="blue-link">+38 (067) 123 45 67</a></strong> або електронною
                поштою: <strong><a href="malito:support@eshop.com.ua"
                        class="blue-link">support@eshop.com.ua</a></strong>.
            </p>

            <h2>Зміни до політики конфіденційності</h2>
            <p>
                Ми можемо час від часу оновлювати нашу політику конфіденційності. Будь ласка, періодично перевіряйте цей
                розділ для отримання актуальної інформації.
            </p>
        </div>
    </div>
</div>
{% endblock %}