{% extends 'base.html' %}
{% load static %}

{% block title %}
Акції
{% endblock %}

{% block content %}
<h1 class="text-center mb-4">Акції</h1>
<section class="sale-content my-5">
    <div class="container ps-md-5 pe-md-5">
        <div class="row">
            {% for sale in sales %}
                <div class="col-lg-4 col-sm-6 mb-5">
                    <div class="sale-card border p-3 rounded">
                        <div class="sale-thumb">
                            {% if sale.image %}
                                <a href="{% url 'sale_detail' sale.slug %}">
                                    <img src="{{ sale.image.url }}" alt="{{ sale.title }}">
                                </a>
                            {% endif %}
                        </div>
                        <div class="sale-details">
                            <h4 class="card-title">{{ sale.title }}</h4>
                            <p class="card-text">{{ sale.description }}</p>
                            <p class="text-muted">Термін дії: {{ sale.start_date|date:"d.m.Y" }} - {{ sale.end_date|date:"d.m.Y" }}</p>
                            
                        </div>
                        <div class="sale-bottom-details d-flex justify-content-between">
                            <div class="sale-links">
                                <a href="{% url 'sale_detail' sale.slug %}" class="btn btn-primary">Дізнатись більше</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section> 
{% endblock %}